<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <title>Matador de Monstro</title>
</head>
<body>
<div id="app">

    <div class="panel scores">
        <div class="score">
            <h1>Jogador</h1>
            <div class="life-bar">
                <div class="life"
                     :class="{danger: playerLife < 20}"
                     :style="{width: playerLife + '%'}"></div>
                {{ playerLife }}%
            </div>
        </div>
        <div class="score">
            <h1>Monstro</h1>
            <div class="life-bar">
                <div class="life"
                     :class="{danger: monsterLife < 20}"
                     :style="{width: monsterLife + '%'}"></div>
                {{ monsterLife }}%
            </div>
        </div>
    </div>
    <div class="panel result" v-if="hasResult">
        <div class="win" v-if="monsterLife == 0">Você ganhou!!! :)</div>
        <div class="lose" v-else>Você perdeu! :(</div>
    </div>
    <div class="panel buttons">
        <template v-if="running">
            <button class="btn attack" @click="attack(false)">Ataque</button>
            <button class="btn especial-attack" @click="attack(true)">Ataque especial</button>
            <button class="btn heal" @click="healAndHurt">Curar</button>
            <button @click="running = false" class="btn give-up">Desistir</button>
        </template>
        <button v-else @click="startGame" class="btn new-game">Iniciar Jogo</button>
    </div>
    <div v-if="logs.lenght" class="panel logs">
        <ul>
            <li v-for="log in logs" :class="log.cls" class="log">{{ log.text }}</li>
        </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
